<div class="container">
  <!-- <app-header subheading="With Angular at ITU!"></app-header> -->
  <!-- creates one instance of this typescript class  header component -->
  <app-header [subheading]="sub"></app-header>
  <app-nav></app-nav>
  <!-- check why this did not work
    <input type="button"
         class="btn btn-sm btn-danger"
         (click)="makeUpper()"
         value="Click Me!"> -->
         <section>
           <!-- this is needed to navigate for example, notice todo http://localhost:4200/todo -->
           <router-outlet></router-outlet>

          </section>
        </div>
